<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.9" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.3.200213001" targetFramework="native" />
  <package id="NuGet.CommandLine" version="5.7.2" targetFramework="native" developmentDependency="true" />
</packages>